REMY_JWT_SECRET=
POSTGRES_PASSWORD=

REMY_DATABASE_URL=
REMY_CORS_ORIGINS=

REMY_JWT_TTL_SECONDS=43200
REMY_JWT_RENEW_WITHIN_SECONDS=1800
REMY_JWT_EXPIRED_GRACE_SECONDS=604800
REMY_BLOOM_CAPACITY=100000
REMY_BLOOM_ERROR_RATE=0.01
